<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-proglove-intent"
        version="1.0.0">

    <name>ProGloveIntentPlugin</name>
    <description>Listens for ProGlove DISPLAY_BUTTON broadcast intents (button gestures)</description>
    <license>MIT</license>

    <!-- JS file staat bij jou in de root -->
    <js-module src="proglove-intent.js" name="ProGloveIntent">
        <clobbers target="cordova.plugins.progloveIntent" />
    </js-module>

    <platform name="android">

        <!-- Feature mapping naar jouw Java package -->
        <config-file target="config.xml" parent="/*">
            <feature name="ProGloveIntentPlugin">
                <param name="android-package" value="com.example.cordova.progloveintent.ProGloveIntentPlugin" />
            </feature>
        </config-file>

        <!-- Java file staat bij jou in de root -->
        <source-file src="ProGloveIntentPlugin.java"
                     target-dir="src/com/example/cordova/progloveintent" />
    </platform>

</plugin>
